.segment, .optionsContainer {
    @mixin light {
        background-color: var(--mantine-color-gray-0);
    }
    @mixin dark {
        background-color: var(--mantine-color-dark-9);
    }
}

.segmentLabel[data-active="true"] {
    color: white;
}

.badge:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-7));
}