.card {
    border-left-color: #087F5B;
    border-width: medium;
}

.inputCheckbox {
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-7));
}

.inputCheckbox:checked {
    background-color: #087F5B;
    border-color: #087F5B;
}