.main, .header, .footer {
    &.light {
        background-color: var(--mantine-color-gray-3);
    }

    &.dark {
    }
}

.navbar {
    &.light {
        background-color: var(--mantine-color-gray-4);
    }

    &.dark {
        background-color: var(--mantine-color-dark-8);
    }
}