.inputRadio {
    border-color: var(--mantine-color-blue-9);
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-7));
}

.inputRadio:checked {
    background-color: var(--mantine-color-blue-9);
    border-color: var(--mantine-color-blue-9);
}